:root {
    --dark-blue: #022231;
    --red: #df3350;
    --header-color: #ffffff;
    --paragraph-color: #e9dada;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Helvetica', sans-serif, 'Arial';
}



/* HEADER STYLES*/
header {
    position: fixed;
    width: 100%;
    top:0;
    right:0;
    background-color: var(--red);
    color:var(--header-color);
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


header #navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
}

header #navBar #logo {
    font-size: 30px;
    font-weight: bold;
    margin-left: 3vw;
}
  

header #navBar ul {  
    list-style: none;
    margin: 0;
    display: flex;
    gap:70px;
    margin-right: 7vw;
}

header #navBar ul a{
    color:var(--header-color);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    transition: color 0.3s ease;
}

/* HEADER EFFECTS*/
header #navBar ul a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: var(--header-color); 
    transition: width 0.3s ease;
}

header #navBar ul a:hover::after {
    width: 100%;
}



/* HOME SECTION STYLES*/
#home-section { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background-color:  black;
}

#home-section #home-content h1{
    font-size: 70px;
    color: var(--header-color);
    margin:15px;
}

#home-section #home-content p{
    font-size: 25px;
    color: var(--header-color);
    margin-bottom:35px;

}



/* ABOUT SECTION STYLES*/
#about-section { 
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 105vh;
    background-color: var(--dark-blue);
    max-height: 750px;
}

.section-title{ 
    color: var(--header-color);
    font-size: 30px;
    margin-top: 40px;;
    letter-spacing: 0.1em;
}

#about-section #about-content{ 
    display: flex;
    color: var(--header-color);
    font-size: 20px;

}

#about-section #about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 0 20px;
}


#about-section #about-content #picture-container{ 
    height: 270px;
    width: 300px;
    margin-top: 25px;
    color: var(--header-color);
    font-size: 20px;
    background-color: #000000;


}

#about-section #about-content #about-text{ 
    height:250px;
    max-width: 800px;
    line-height: 1.5;
    font-size: 20px;
}

#about-section #about-content #first-paragraph{ 
    margin-bottom:20px;
}

#about-section #about-content #contact-message{ 
    font-weight: bold;
    font-size: 20px;

}

/* SKILL SECTION STYLES*/
#skills-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
    background-color: black;
    color:white;
}

#skills-section #skill-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px; 
    width: 90%;
    max-width: 800px;
    align-items: center;
    margin: auto 0;
    padding: 30px 0;
}


#skills-section #skill-container .skill-card {
    width:90px;
}


/* PROJECT SECTION STYLES*/
#projects-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
    background-color: var(--dark-blue);
    color:white;
}

#projects-section #project-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border:solid red 1px;
}

.project-card{
    
}

.project-image{
    
}

.project-title{
    
}

.project-description{
    
}

.project-tools{
    
}

.project-tool{
    
}

.project-links{
    
}

.demo-btn{

}

.repos-btn{

}